.community_article_ul {
  width: 100%;
  float: left;
  margin-top: 1rem;
  border-radius: 10px;
}

.community_article_wrap {
  width: 100%;
  /* border: 1px solid rgb(175, 175, 175); */
  background-color: var(--white-color);
  margin-top: 1rem;
  border-radius: 8px;
  /* box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384); */

}

.community_article_heading {
  display: flex;
  justify-content: space-between;
}

.community_article_heading_img_circle_border {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid var(--lightblue-color);
  border-radius: 50%;
  margin: 1rem 0 0 1rem;
}

.community_article_heading_img_container {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.community_article_heading_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.community_article_heading_userinfo {
  margin: 1rem 0 0 0;
  width: 78%;
}

.community_article_heading_userinfo p {
  margin: 5px 0;
  font-size: 20px;
}

.community_article_heading_userinfo span {
  font-size: 14px;
}

.editIconforArticle {
  margin-right: 30px;
}

.community_article_body {
  position: relative;
}

.community_article_body>p {
  padding: 0 20px;
  margin: 10px 0;
}

.community_article_body>p+p {
  margin-top: 5px;
}

.community_article_body_img_disapear {
  display: none;
}

.community_article_body_img {
  width: 100%;

  max-height: 30rem;
  overflow: hidden;
}

.community_article_body_img img {
  width: 100%;
  height: 100%;
}

.community_article_footer {
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-radius: 0 0 8px 8px;
}

.community_article_footer i {
  margin-right: 5px;
}

.community_article_footer span {
  margin-right: 5px;
}

/* 社團頁面的使用者頭像 */
.community_article_user_img_circle_border {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid var(--green-color);
  border-radius: 50%;
  margin: 0.3rem 0 0 0.7rem;
}

.community_article_user_img_container {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.community_article_user_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 新增文章的東C */
.MessageBox {
  background-color: var(--white-color);
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}

#article_form {
  display: flex;
  align-items: center;
}

.AddArticleInput {
  font-size: 20px;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  background-color: var(--lightgrey-color);
  color: var(--grey-color);
  padding-left: 10px;
  padding-top: 5px;
  margin: 10px 15px;
  resize: none;
  overflow-y: hidden;
}

.AddArticleLabel {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 209, 209);
  background-color: white;
  color: var(--blue-color);
  margin: 1rem 0 0 1rem;
}

.AddArticleImgDisplay {
  width: 90%;
  /* align-items: center; */
  margin: 0px auto;
}

.AddArticleImgDisplay_img {
  width: 100%;
}

.SearchBox {
  background-color: #e4e3e3;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.popUpforEdit {
  position: fixed;
  top: 20%;
  left: 59%;
  z-index: 2000;
  width: 600px;
  height: 700px;
  background-color: var(--white-color);
  border: 1px solid var(--lightgrey-color);
  border-radius: 5px;
  overflow-y: scroll;
}

.popUpforEdit_disappear {
  display: none;
}

.EditArticleInput {
  width: 90%;
  margin: 10% 0;
  font-size: 23px;
  margin-top: 15px;
  color: black;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  color: var(--grey-color);
  margin-left: 20px;
  resize: none;
  overflow-y: auto;
}

.EditArticleImgDisplay {
  width: 80%;
  margin: 10% 0;
}

.EditArticleImgDisplay_img {
  width: 100%;
}

.EditArticleLabel {
  padding: 10px;
  border-radius: 0.5rem;
  /* border: 1px solid rgb(209, 209, 209); */
  /* background-color: white; */
  color: var(--blue-color);
  margin: 20px 10px 10px 0;
}

.Post_Community_preIcon {
  position: relative;
  top: 14.75rem;
}

.Post_Community_nextIcon {
  position: relative;
  left: 43.5rem;
  bottom: 17rem;
}

.ArticlePost_preIcon {
  position: absolute;
  cursor: pointer;
  top: 16rem;
  left: 0.8rem;
}

.ArticlePost_nextIcon {
  position: absolute;
  cursor: pointer;
  top: 16rem;
  right: 0.8rem;
}


/* 留言區 */
.community_article_reply_header {
  display: flex;
}

/* .community_article_reply_header_img_container {
  width: 20%;
} */

.community_article_reply_header_img_circle_border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1.5px solid var(--lightblue-color);
  border-radius: 50%;
  margin: 15px;
}

.community_article_reply_header_img {
  position: absolute;
  /* margin: 10px; */
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.community_article_reply_header_img_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.community_article_reply_header_content {
  width: 100%;
}

.community_article_reply_header_content_info {
  width: 95%;
  margin: 10px;
  /* float: right; */
}

.community_article_reply_header_content_text {
  width: 80%;
  margin: 10px;
  /* float: right; */
}

/* 輸入資料區 */

.CM_reply_input_container {
  display: flex;
  background-color: var(--lightgrey-color);
}

.CM_reply_input_container input {
  border: none;
  width: 90%;
  margin: 15px 20px;
  outline: none;
}