.header {
  color: var(--blue-color);
  /* 顏色 */
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.712);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.712); */
  transition: transform 0.3s;
}

.header_title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  min-width: 8rem;
  min-height: 5rem;

  text-decoration: none;
}

.header_title:hover {
  text-decoration: none;
}

.header_title > img {
  width: auto;
  /* logo 大小 */
  height: 4rem;
}

.div_dropdownmenu {
  display: flex;
}

.div_dropdownmenu > div {
  margin: 0;
  padding: 0;
  list-style: none;
}

.div_container_login {
  display: flex;
}

.navbar_my_photo_border {
  position: relative;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--blue-color);
  border-radius: 50%;

  overflow: hidden;
}

.navbar_my_photo{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}

/* 下拉新增區 */
.navebar_add_icons {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  /* width: 2rem; */
  padding-right: 0.5rem;
}

.navebar_add_postition_icons {
  position: relative;
}

.navebar_down_list {
  position: absolute;
  top: 2.5rem;
  left: -2.5rem;

  background-color: var(--white-color);
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.712);

  transition: all 0.5s;
}

.navebar_down_list > button {
  font-size: 1rem;
  width: max-content;
  /* box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.712); */
  cursor: pointer;

  padding: 0.5rem 1rem;
  margin-bottom: 0.1rem;
  color: var(--blue-color);
  background-color: var(--white-color);

  border: 0;
  border-radius: 0px;
  /* transition: all .5s; */
  /* transform: scaleY(0); */
}

.navebar_down_list > button:hover {
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.712);
}

.foldingCurtain {
  animation: App-create-list-down 1 0.2s ease;
  transform-origin: top;
  transform: scaleY(1) !important;
}

@keyframes App-create-list-down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.foldingCurtainUp {
  animation: App-create-list-up 1 0.2s ease;
  transform-origin: top;
  transform: scaleY(0) !important;
}

@keyframes App-create-list-up {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.navebar_plus_icon {
  position: absolute;
  bottom: 0.2rem;
}

#navebar_down_icon {
  cursor: pointer;
  font-size: 1rem;
  padding-left: 1.2rem;
  opacity: 0.5;
}

#navebar_down_icon:hover {
  animation: App-navebar-down-icon infinite 1s ease;
}

@keyframes App-navebar-down-icon {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* 登出區 */
.navebar_msg_icons {
  display: flex;
  justify-items: flex-end;
  align-items: center;
}

.login_bullhorn {
  margin-left: 1rem;
  margin-right: 1rem;
}

#header_link_login {
  display: flex;
  align-items: center;
  padding: 1rem 2vw;
  height: 5rem;
}

#navbar_logout {
  transform: scale(1.2);
}

#navbar_logout:hover {
  transform: scale(1.4);
}

.login_bullhorn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar_menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 5rem;
  width: 5rem;
  padding: 1.5rem;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.navbar_menu:hover {
  transform: scale(1.2);
}

.navbar_menu > div {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 0.3rem;
  width: 2rem;

  transition-property: all;
  transition-duration: 0.3s;
}

/* 漢堡鍵被點擊 */
/* .navbar_menu_line_change {
} */
.navbar_menu_line_change > div:nth-of-type(2) {
  opacity: 0;
}

.navbar_menu_line_change > div:nth-of-type(1) {
  transform: translateY(0.63rem) rotate(45deg);
}

.navbar_menu_line_change > div:nth-of-type(3) {
  transform: translateY(-0.63rem) rotate(-45deg);
}

.li_menutitle {
  position: relative;
}

/*menu樣式----------------------------------------*/
.li_menutitle a {
  /* background: var(--lightblue-color); */
  /* color: #ffffff; */
  color: var(--blue-color);
  /* color:black; */
  display: inline-block;
  /* ? block   */
  box-sizing: border-box;
  height: 100%;
  /* font: bold 12px/20px sans-serif; */
  padding: 1rem 4vw;
  /* 導覽連結(上右下左) 左右間距 與 撐滿header bar高 */
  text-align: center;
  text-decoration: none;
  text-shadow: 3 3 3 gray;
}

/* *hover 會伸縮的底線區域 -------------------*/
.nav-underline:before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 2em;
  width: 0;
  border-bottom: 2px solid var(--blue-color);
}

.nav-underline:hover:before {
  width: 65%;
}

.nav-underline:before {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

/* *響應是區域  ------------- */
@media screen and (max-width: 800px) {
  .navbar_menu {
    display: flex;
    z-index: 1500;
  }

  .navbar_menu > div {
    background-color: var(--blue-color);
  }

  .nav-underline:before {
    left: 8em;
  }

  .nav-underline:hover:before {
    width: 80%;
  }

  .div_container_login {
    display: none;
  }

  .div_dropdownmenu {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    background-color: var(--lightblue-color);
    transition: opacity 0.6s, clip-path 0.8s;

    clip-path: circle(200px at top right);
  }

  .div_dropdownmenu > div {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }

  .div_dropdownmenu > div > a {
    width: 100vw;
  }

  .nav-underline:hover:before {
    width: 4rem;
  }
}

/* 切換css */
.navbar_menu_show {
  opacity: 1;
  clip-path: circle(100% at center);
}

.navbarLink_show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.navbarLink_show:nth-of-type(1) {
  transition: opacity 0.4s ease-in-out 0.3s,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s !important;
}

.navbarLink_show:nth-of-type(2) {
  transition: opacity 0.4s ease-in-out 0.4s,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s !important;
}

.navbarLink_show:nth-of-type(3) {
  transition: opacity 0.4s ease-in-out 0.5s,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s !important;
}

.navbarLink_show:nth-of-type(4) {
  transition: opacity 0.4s ease-in-out 0.6s,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s !important;
}
