.market_tabContainer {
  width: 100%;
  font-size: 24px;
}

.container_bubble {
  display: flex;
  justify-content: center;
}

.bubble {
  position: relative;
  width: 700px;
  height: 120px;
  margin: auto 30px auto 300px;
  background-color: var(--pink-color);
  border: 2px solid transparent;
  border-radius: 40px;
}

.bubble_content {
  position: absolute;
  left: 10%;
  top: 37%;
  font-size: 30px;
}

.bubbleTail {
  position: absolute;
  left: 100%;
  top: 10px;
  width: 30px;
  height: 48px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 15px;
  border-bottom-color: currentColor;
  border-radius: 0 0 96px 0;
  color: var(--pink-color);
}

.container_bubble img {
  margin-right: 200px;
}

.box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tagbox_result {
  width: 45rem;
  height: 6rem;
  background-color: var(--white-color);
  border: 5px solid var(--pink-color);
  border-radius: 2rem;
  position: relative;
  left: -10%;
  top: 85%;
  align-items: center;
  padding: 0 2rem;
}

.tagbox_row1 {
  justify-content: center;
  height: 4rem;
}
.tagbox_row2 {
  justify-content: center;
  border-top: 3px dotted var(--pink-color);
  border-bottom: 3px dotted var(--pink-color);
  height: 4rem;
}

.tag {
  padding: 1rem 2rem;
  height: 4rem;
  margin: 5px;
  background-color: var(--pink-color);
  border-radius: 2rem;
}

#btn-go2marketSearch {
  outline: none;
  width: 10rem;
  height: 4rem;
  border: 4px solid var(--grey-color);
  border-radius: 2rem;
  background-color: transparent;
  margin: 1rem 50%;
}
#btn-go2marketSearch:hover {
  background-color: var(--grey-color);
  color: var(--white-color);
}

.location_filter_container {
  display: flex;
  justify-content: center;
}
.location_filter_container img {
  width: 50rem;
  margin-right: 2rem;
}
.location_filter_setting {
  width: 30rem;
  background-color: var(--pink-color);
  border-radius: 1rem;
  padding: 1rem;
}

.location_filter_setting img {
  width: 10px;
}

.location_tag {
  padding: 1rem 2rem;
  height: 3rem;
  width:9rem;
  margin: 1rem;
  background-color: var(--white-color);
  border-radius: 2rem;
}

#location_search_btn{
  outline: none;
  width: 7rem;
  height: 3rem;
  border: 3px solid transparent;
  margin: 1rem;
}

.market_title {
  display: flex;
  border-bottom: 3px solid var(--pink-color);
  margin: 2rem 5rem 2rem 5rem;
  padding-bottom: 1rem;
  position: relative;
}

/* .dec_div {
  width: 100%;
  height: 1600px;
  position: absolute;
  background-color: var(--pink-color);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
} */

.market_pdt_row {
  display: flex;
  justify-content: center;
}

.market_main_pdt_items {
  min-width: 300px;
  max-width: 400px;
  border: 2px solid var(--white-color);
  border-radius: 1rem;
  background-color: var(--pink-color);
  margin: 10px;
  padding: 20px;
}

.market_main_pdt_items:hover {
  background-color: var(--white-color);
  border: 4px solid var(--pink-color);
  border-radius: 1rem;
}

.market_main_pdt_items_img {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.market_main_pdt_items_img:hover {
  border: 4px solid var(--white-color);
}

.dollar_icon {
  width: 20px;
  height: 20px;
}

.pdt_items h4 {
  margin: 10px 0;
  background-color: var(--white-color);
  width: fit-content;
  height: 20px;
}

.message {
  position: absolute;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 1rem;
  bottom: 2rem;
}
