body {
    margin: 0;
}

.communmity_main {
    display: none;
}

.communmity_container_left {
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    width: 20%;
    height: 1000px;
}

.communmity_container_title_left {
    width: 100%;
    margin: auto;
    padding: 0 3rem;
}

.communmity_content_left {
    width: 100%;

}

.communmity_content_left_item li {
    list-style-type: none;
    padding: 20px;
}

.communmity_content_left_item li:hover {
    transform: scale(1.1);
    background-color: rgb(228, 228, 228);
    transition: all .5s ease;
}

.communmity_content_left_item li a {
    text-decoration: none;
    color: black;
}

.communmity_container_middle {
    /* width: 45%; */
    flex-grow: 1;
    max-width: 750px;
    padding: 1rem 3rem;
    margin: 0 auto;
}

.communmity_search_head {
    display: flex;
}

.communmity_search_head_left {
    text-align: left;
    width: 60%;
}

.communmity_search_head_left input {
    outline: none;
    /* caret-color: transparent; */
    height: 50px;
    font-size: 20px;
    border: none
}

.communmity_search_head_right {
    text-align: right;
    width: 30%;
    padding-top: 10px;
    cursor: text;
}

.communmity_search_head_right button {
    width: 120px;
    height: 50px;
    background-color: pink;
    border: none;
    border-radius: 10px;
}

.communmity_search_head_right button:hover {
    /* width: 120px;
    height: 50px;
    background-color: pink;
    border: none;
    border-radius: 10px; */
    transform: scale(1.1);
    transition: all .5s ease;
}

.communmity_container_middle_content {
    margin: 2rem 0;
    display: flex;


}

.communmity_container_middle_content_imgbox {
    width: 30%;
    height: 100px;
    margin: auto;
    /* height: ; */
}

.communmity_container_middle_content_imgbox img {
    /* width: 70%; */
    height: 100%;
    /* height: ; */
}

.communmity_container_middle_content_title {
    width: 50%;
    margin: auto;
}

.communmity_container_middle_content_title span {
    color: pink;
    font-weight: 500;
}

.communmity_shadow:hover {
    /* shadow:3px 3px 5px 6px #f1f1f1; */
    background-color: #f1f1f1;
    transform: scale(1.1);
    transition: all .5s ease;
}

.communmity_container_middle_content_icon {
    width: 10%;
    margin-top: 6rem;
}

.communmity_icon_box {
    width: 90%;
}

.communmity_icon_box button {
    width: 45%;
    background-color: transparent;
    border: none;
    outline: none;
}

.communmity_icon_box button:hover {
    background-color: rgba(0, 0, 0, 0.055);
}



.communmity_displaynone {
    display: none;
}