@import "./var.css";


.page_signIn {
    box-sizing: border-box;
    width: 100%;
    min-height: 80vh;
    padding: 3rem;
    display: flex;
    justify-content: space-around;

    background-color: #8fc1e32f;
}

.page_signIn_left {
    flex-basis: auto;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_signIn_left>p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.page_signIn_right {
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_signIn {
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 0rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: var(--lightgrey-color);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}


.signIn_inputBlock {
    /* lab 、 input區塊 */
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.signIn_inputBlock>input {
    /* input區塊 */
    margin-top: 0.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 3px;
}

.signIn_inputBlock>input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .3);
}


.signIn_PasswordText {
    /* password lab 、 文字 */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.signIn_PasswordText>a {
    /* 忘記密碼連結 */
    text-decoration: none;
    font-size: 0.8rem;
}

.signIn_PasswordText>a:visited {
    color: blue;
}


.signIn_submit {
    padding-top: 0.7rem;
}

.signIn_submit>input {
    /* sign in 按鈕區塊  */
    position: relative;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--lightblue-color);
    border: 0;

    transition: all 0.5s;
}


.signIn_submit>input:hover {
    top: -1px;
    left: -1px;
    background-color: var(--blue-color);
    color: var(--white-color);
}


.text_switch2signUp {
    padding-top: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
}

.text_switch2signUp>a {
    text-decoration: none;
    color: blue;
}

.text_switch2signUp>a:hover {
    text-decoration: underline;
}