/* 功能用 */
* {
  margin: 0;
  padding: 0;
}

.activity_detail_flex {
  display: flex;
}

/* 活動標題和發起者 */
.activity_detail_container p {
  margin: 0;
}

.activity_detail_info_all {
  margin: 0px auto;
  width: 85vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.activity_detail_info_img_circle {
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid var(--lightblue-color);
  border-radius: 50%;
}

.activity_detail_info_img_div {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.activity_detail_info_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activity_detail_info_name {
  align-self: center;
  margin-left: 0.7rem;
}

.activity_detail_info_name_H {
  font-size: 14px;
  color: grey;
}



/* 活動左側 內文 */
.activity_detail_text_detail {
  margin-top: 1rem;
}

.activity_detail_text {
  background-color: #F6F7F8;
}

.activity_detail_text_left {
  margin: 0px auto;
  width: 50vw;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.activity_detail_text_left_img {
  width: 50vw;
}

.activity_detail_text_left_img img {
  width: 100%;
}




/* 活動右側 */
.activity_detail_right_container {
  width: 35vw;
  /* border: 1px solid red; */
}

.activity_detail_right {
  width: 30vw;
  /* position: absolute; */
  /* left: 5rem; */
  /* height: 30rem; */
  /* width: 13rem; */
}

.activity_detail_right_top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.activity_detail_right_top button {
  border: 0px;
  border-radius: 1rem;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  background-color: var(--blue-color);
  color: white;
  font-size: 20px;
}

.activity_detail_right_love {
  width: 3rem;
  margin-left: 1rem;
}

.activity_detail_right_top button:hover {
  cursor: pointer;
}

.activity_detail_right_icon {
  width: 2rem;
  margin-right: 0.5rem;
}

.activity_detail_right_map {
  width: 25vw;
}

.activity_detail_right_map img {

  /* margin-left: 1rem; */
  /*上面margin之後要改*/
}

.activity_detail_right_info {
  background-color: white;
  width: 25vw;
  padding: 2rem;
  border-radius: 1rem;
}

.activity_detail_right_info div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* 活動參與者 */
.activity_detail_participant_all {
  margin-top: 1rem;
}

.activity_detail_participant {
  display: grid;
  justify-items: center;
  align-content: center;
  width: 9vw;
  height: 20vh;
  border-radius: 1rem;
  background-color: white;
  margin-right: 1rem;
  margin-top: 1rem;
}

.activity_detail_participant p {
  margin-top: 0.5rem;
}

.activity_detail_participant span {
  font-size: 10px;
  color: gray;
}

/* 所屬社團 */
.activity_detail_Societies {
  display: flex;
  /*  justify-items: center;*/
  align-items: center;
  width: 50vw;
  height: 15vh;
  max-width: 800px;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: white;
}





/* *留言區 */
.massage {
  position: relative;
  margin-top: 3rem;
}


.massageTopButton {
  position: absolute;
  right: 0px;
  height: 40px;
  width: 130px;
  background-color: var(--green-color);
  border-radius: 10px;
  border-style: none;
  color: white;
}

/* btn class option 2 */
.massageTopButton2 {
  position: absolute;
  right: 0px;
  height: 40px;
  width: 130px;
  border-radius: 10px;
  border-style: none;

  background-color: var(--white-color);
  color: var(--grey-color);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--grey-color);
}



.messageInputBox {
  box-sizing: border-box;
  border: none;
  width: 100%;
  outline: none;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--lightgrey-color);

}

.messageInputBox:focus {

  background-color: var(--lightgrey-color);
  padding: 10px;
  transition: 0.5s;
  ;
  margin-right: 10px;
}

.btnMessageSent {
  background-color: var(--green-color);
  color: white;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.btnMessageSent2 {
  background-color: var(--white-color);
  color: var(--grey-color);
  box-shadow: 0.2rem 0.2rem 0.2rem var(--grey-color);

  height: 40px;
  width: 80px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;

}


/* 留言後顯示 */
.inputAft {
  margin-top: 10px;
}




/* <input class=' messageInputBox'> 的父層 */
.massageBottom {
  background-color: var(--white-color);
  /* width: 100%; */
  /* height: 150px; */
  border-radius: 30px;
  margin-top: 50px;
  padding: 30px;
}

/* 暫時得很失敗？？？？ */
.massageBottomImgDefault {
  background-color: var(--grey-color);
  width: 50px;
  height: 50px;
}

.verticalBar {
  border-left: 1px solid black;
  height: 30px;
}

.massageBottomTop {
  align-items: center;
}

.massageBottomTopUser {
  margin-left: 10px;
}

.verticalBar {
  margin-left: 10px;
}

.massageBottomTopDate {
  margin-left: 10px;
}

.massageBottomMiddle {
  margin-top: 10px;
}

.massageBottomBottom {
  margin-top: 10px;
}

.lineInContainer {
  border-top: solid var(--lightgrey-color) 1px;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .divForCardImg {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.divForCardImg img {

  width: 100%;
  height: 100%;
} */