.activity_top {
    position: relative;
}

.activity_top img {
    width: 100%;
    height: 600px;
}

.activity_search_container{
    position: absolute;
    left: 8rem;
    top: 10rem;   
}

.active_main_search{
    margin-bottom: 1rem;
}

.active_main_search input {
    padding-left: 20px;
    height: 60px;
    width: 500px;
    font-size: 30px;
    border: 1px solid var(--lightgrey-color);
    border-radius: 10px;
}

.active_main_search select {
    position: absolute;
    top: 2px;
    left: 410px;
    width: 80px;
    height: 56px;
    font-size: 28px;
    color: gray;
    border: 1px solid #ffffff;
    /* border-radius: 10px; */
}


/* *進接搜尋區 */
#activity_advence_show{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8%;
    display: flex;    
}

#activity_advence_show:hover{
    background-color: #ffffff6b;

}

.activity_advence_t{
    transition: all 0.5s;
}


.activity_advence_search_container{
    max-width: 80vw;

}


.active_advance_search{
    position: relative;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem; 
    min-height: 3rem;   
    max-width: 500px;
}

.active_advance_search_tile{
    flex-shrink: 0;
    line-height: 100%;
    margin-right: 0.5rem;
}

.active_advance_dateRange{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 300px;
}

#active_advance_search_city{
    display: flex;
    flex-wrap: wrap;
}


.activity_search_city{
    min-width: 5rem;
}

.active_advance_row{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

/* .active_advance_search label{
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;

}

.active_advance_search input{
    height: 2rem;
    line-height: 2rem;
    padding-left: 5rem;
}
 */





.activity_top button {
    position: absolute;
    left: 40rem;
    top: 10rem;
    width: 80px;
    height: 60px;
    background-color: var(--blue-color);
    border: 0px;
    border-radius: 10px;
    font-size: 36px;
    color: white;
    text-align: center;
}

.activity_icon {
    width: 20px;
    height: 20px;
}

.activity_main {
    margin: 1rem 5rem;
    align-items: center;
}

.activity_event {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.activity_event2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}


.activity_event div {
    width: 23%;
}

.activity_event2 div {
    width: 23%;
}

.activity_event_img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
}

.activity_event_history1 {
    /* background-color: var(--grey-color); */
    border-top: 1px solid var(--lightblue-color);
    height: 400px;
    /* display: flex; */
}

.activity_event_history1 h2 {
    margin-left: 6rem;
    padding-top: 2rem;
}

.activity_event_history2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin: 0rem 3rem;
    height: 320px;
    align-items: center;
}

.activity_event_history2 div {
    width: 23%;
    margin: 0rem 1rem;
}

.activity_event_history2_a {
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--blue-color);
    margin: 1rem auto 2rem auto;
    align-items: center;
    justify-content: center;
}

.activity_event_history2_a a {
    text-decoration: none;
    color: white;
}

.activity_event_history3 {
    display: flex;
    justify-content: space-around;
}

.activity_event_icon_right {
    width: 2rem;
    max-height:2rem ;
   margin-top: 5rem;
}

/* ------------- footer ------------- */
.activity_footer {
    display: flex;
    height: 200px;
    background-color: rgba(241, 241, 241, 0.87);
    justify-content: space-around;
    align-items: center;
}

.activity_footer_box {
    width: 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.activity_footer a {
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 16px;
}

.activity_footer a:hover {
    position: relative;
    top: 2px;
    left: 1px;
    color: var(--lightblue-color);
}

.activity_footer_icon {
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

