/* 功能用 */
/* * {
  margin: 0;
  padding: 0;
} */

.activity_detail_flex {
  display: flex;
}

/* .activity_detail_fontBold {
  font-weight: bold;
} */

/* 活動標題和發起者 */
.activity_detail_container p {
  margin: 0;
}

.activity_detail_info_all {
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px auto;
  width: 65vw;
  padding: 1.5rem 0;
}

.activity_detail_info_all h2 {
  font-weight: bold;
}

.activity_detail_info_share button {
  border: 0px;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  /* margin-bottom: 1rem; */
  background-color: white;
  border: 1px solid grey;
  /* color: white; */
  font-size: 20px;
}

.activity_detail_info_share button:hover {
  cursor: pointer;
}

.activity_detail_info_img_circle {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid var(--lightblue-color);
  border-radius: 50%;
}

.activity_detail_info_img_circle:hover {
  cursor: pointer;
}

.activity_detail_info_img_div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.activity_detail_info_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activity_detail_info_name {
  align-self: center;
  margin-left: 0.7rem;
}

.activity_detail_info_name_H {
  font-size: 1rem;
  color: grey;
}

.activity_detail_info_name a {
  color: black;
  font-size: 1.2rem;
}

.activity_detail_info_status {
  width: 15px;
  margin-left: 0.3rem;
}

/* 活動左側 內文 */
.activity_detail_text_all {
  width: 65vw;
  ;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.activity_detail_text_detail {
  margin-top: 1rem;
}

.activity_detail_text_detail h5 {
  font-weight: bold;
}

.activity_detail_text {
  background-color: #f6f7f8;
}

.activity_detail_text_left {
  /* margin: 0px auto; */
  width: 700px;
  padding: 1.5rem 0;
}

.activity_detail_text_left_img {
  height: 30rem;
  overflow: hidden;
}

.activity_detail_text_left_img img {
  width: 100%;
  /* height: 100%; */

}

/* 活動左側 標籤 */
.activity_detail_bigTag {
  padding: 0.3rem 1rem;
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem;
  background-color: var(--blue-color);
}

.activity_detail_bigTag a {
  color: white;
}

.activity_detail_tag {
  /* width: 100px; */
  padding: 0.3rem 1rem;
  margin: 1rem 1rem 0 0;
  border-radius: 0.5rem;
  background-color: white;
}

.activity_detail_tag a {
  color: var(--blue-color);
}

/* 活動右側 */
.activity_detail_right_container {
  width: 30%;
  /* margin: 0 auto; */
  /* width: 35vw; */
  /* border: 1px solid red; */
}

.activity_detail_right {
  margin-top: 1.5rem;
  width: 340px;
  position: fixed;

  /* position: absolute; */
  /* left: 5rem; */
  /* height: 30rem; */
  /* width: 13rem; */
}

.activity_detail_right_top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.activity_detail_right_top button {
  border: 1px solid var(--blue-color);
  border-radius: 0.8rem;
  padding: 0.7rem 7rem;
  /* margin-bottom: 1rem; */
  background-color: var(--blue-color);
  color: white;
  font-size: 1.2rem;
}

.activity_detail_right_top button:hover {
  border: 1px solid var(--lightblue-color);
  background-color: var(--lightblue-color);
  color: white;
  transition: all 0.5s;
}

.activity_detail_right_love {
  width: 3rem;
  margin-left: 1rem;
  color: red;
}

.activity_detail_right_top button:hover {
  cursor: pointer;
}

.activity_detail_right_icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.activity_detail_right_info {
  background-color: white;
  /* width: 25vw; */
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 14px;
}

.activity_detail_right_info div {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.activity_detail_right_info p {
  margin: 0
}

.activity_detail_right_map {
  height: 12.8rem;
}

/* 活動參與者 */
.activity_detail_participant_all {
  margin-top: 5rem;
}

.activity_detail_participant_all h5 {
  /* font-weight: bold; */
}

.activity_detail_participant_all a {
  color: grey;
}

.activity_detail_participant_all a:hover {
  color: var(--blue-color);
  transition: all 0.5s;
}

.activity_detail_participant_flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.activity_detail_participant {
  display: grid;
  justify-items: center;
  align-content: center;
  width: 7.4rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem 1.3rem 0 0;
}

.activity_detail_participant:hover {
  cursor: pointer;
  /* border: 1px solid red; */
  box-shadow: 0 0 10px rgb(226, 226, 226);
  transition: all 0.5s;
}

.activity_detail_participant p {
  margin-top: 0.5rem;
}

.activity_detail_participant span {
  font-size: 10px;
  color: gray;
}

/* 所屬社團 */

.activity_detail_Societies2 {
  display: flex;
  /*  justify-items: center;*/
  align-items: center;
  /* width: 50vw; */
  /* height: 15vh; */
  max-width: 800px;
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
}

.activity_detail_Societies_a {
  display: flex;
  align-items: center;
  color: gray;
}

.activity_detail_Societies_a:hover {
  color: var(--blue-color);
  transition: all 0.5s;
}

.activity_detail_Societies_a p:first-child {
  color: black;
}

.activity_detail_Societies_info {
  margin: 0 1rem;
}

/* .activity_detail_Societies_info a {
  color: grey;
} */

/* .activity_detail_Societies_info a:hover {
  color: var(--blue-color);

} */

.activity_detail_Societies_img_circle {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid var(--blue-color);
  border-radius: 15%;
}

.activity_detail_Societies_img_div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 15%;
}

.activity_detail_Societies_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* *瀏覽 */
#activity_detail_see {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  /* max-width: 800px; */
  margin: 1rem auto;
}

/* *留言區 */
.massage {
  position: relative;
  margin-top: 3rem;
}

.massageTop {
  justify-content: space-between;
  align-items: center;
}

.massageTopText {
  font-size: 20px;
  font-weight: bold;
}

.massageTopButton,
.btnMessageSent {
  background-color: var(--blue-color);
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  color: white;
  padding: 0.4rem 1rem;
}

.massageTopButton:hover,
.btnMessageSent:hover {
  cursor: pointer;
  border: 1px solid var(--blue-color);
  background-color: var(--white-color);
  color: var(--blue-color);
  transition: all 0.5s;
}

.messageInputBox {
  /* box-sizing: border-box; */
  border: 0;
  border-bottom: 1px solid var(--blue-color);
  width: 100%;
  outline: none;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  margin: 0.5rem 0;
  /* box-shadow: 0.1rem 0.1rem 0.1rem var(--lightgrey-color); */
}

.messageInputBox:focus {
  background-color: var(--lightgrey-color);
  /* padding: 10px; */
  transition: 0.5s;
  margin-right: 10px;
}

/* 留言後顯示 */
.inputAft {
  margin: 10px;
}

/* <input class=' messageInputBox'> 的父層 */
.massageBottom {
  background-color: var(--white-color);
  border-radius: 30px;
  margin-top: 1rem;
  padding: 2rem 1rem;
}

.massageBottomImgDefault {
  background-color: var(--grey-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.verticalBar {
  border-left: 1px solid black;
  height: 30px;
}

.massageBottomTop {
  align-items: center;
}

.massageBottomTopUser {
  margin-left: 10px;
}

.verticalBar {
  margin-left: 10px;
}

.massageBottomTopDate {
  margin-left: 10px;
}

.massageBottomMiddle {
  margin-top: 10px;
}

.massageBottomBottom {
  margin-top: 10px;
}

.lineInContainer {
  border-top: solid var(--lightgrey-color) 1px;
  /* height: 1px;
  margin-top: 50px;
  margin-bottom: 50px; */
  margin: 1rem 0;
}

/* .divForCardImg {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.divForCardImg img {

  width: 100%;
  height: 100%;
} */



/* 分享功能 */

#ac_share_bg {
  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity=50);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: black;
  z-index: 200;
  display: none;
}

#ac_share_bg_div {
  position: absolute;
  left: 35vw;
  top: 30vh;
  width: 28rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  display: none;
  z-index: 201;
}

#ac_share_closeBtn {
  width: 2rem;
  height: 2rem;
  border: 0px solid gray;
  border-radius: 50%;
  background-color: white;
}

#ac_share_closeBtn:hover {
  cursor: pointer;
}

.ac_share_title {
  display: flex;
  justify-content: space-between;
}

.ac_share_info {
  /* display: block; */
  justify-content: space-between;
}

.ac_share_info_icon {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.ac_share_info_icon div {
  text-align: center;
}

.ac_share_info_icon p {
  color: grey;
}

.ac_share_info a {
  color: var(--blue-color);
}

.ac_share_info a:hover {
  color: var(--lightblue-color);
  transition: all 0.5s;
  transform: scale(1.1);
}

.ac_share_info_link {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5rem;
}

.ac_share_info_link input {
  width: 100%;
  border: 0;
}

.ac_share_info_link button {
  border: 0;
  background-color: var(--blue-color);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-left: 0.8rem;
  color: white;
}

.ac_share_info_link button:hover {
  cursor: pointer;
  /* border: 1px solid var(--lightblue-color); */
  background-color: var(--lightblue-color);
  color: white;
  transition: all 0.5s;
}


.activity_detail_title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#inputDemo {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  background-color: var(--blue-color);
  color: white;
  padding: 0.3rem;
  position: absolute;
  bottom: 1rem;
}

#inputDemo:hover {
  cursor: pointer;
}


.activity_detail_initiatorbox {
  margin-top: 2rem;
}