/* ------------- 右下聊天機器人 ------------- */
.chat_container {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    z-index: 1050;
}

.upTop {
    position: fixed;
    right: 1rem;
    bottom: 6rem;
    z-index: 1000;
    color: gray;
}

.upTop:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
    color: var(--blue-color);
}

/* *以下icon */
.chat_icon_container {
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
}


.chat_icon_main {
    width: 3rem;
    height: 3rem;
    transition: all 1s;
}


.chat_icon {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transition: all 1s;
}


.chat_icon:hover {
    transform: rotate(330deg) scale(1.5);
    /* 變形:轉度  縮放 */
}




/* 聊天標題 */
.chat_window_title {
    border-bottom: solid 1px white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-around;
    color: white;
}

.chat_window_close {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    width: 1rem;
}

.chat_window_close:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.chat_input {
    width: 100%;

}

.chat_input>textarea {
    width: 100%;
    margin: 0;
    resize: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: -10px;
    padding: 0.5rem 0.5rem;
}

.chat_input>textarea:focus {
    outline: none;
}


/* 以下聊天室 */
.chat_room_window {
    position: relative;
    margin-right: 2rem;
    width: 20rem;
    min-height: 20rem;
    background-color: var(--blue-color);
    border-radius: 0.5rem;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}

.chat_message {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    flex-grow: 1;
}

.caht_Me_time {
    font-size: 10px;
    text-align: right;
}

.caht_notMe_time {
    font-size: 10px;
}


.caht_notMe {
    position: relative;
    padding: 0.2rem 0.2rem;
    margin-top: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    align-self: flex-start;
}

.caht_notMe .caht_arrow {
    position: absolute;
    bottom: 7px;
    left: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: var(--lightblue-color) var(--white-color) var(--lightblue-color) var(--lightblue-color);
}

.caht_notMe .caht_arrow2 {
    position: absolute;
    bottom: 7px;
    left: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: var(--blue-color) var(--white-color) var(--blue-color) var(--blue-color);
}



.caht_Me {
    position: relative;
    padding: 0.2rem 0.2rem;
    margin-top: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    align-self: flex-end;
}

.caht_Me .caht_arrow {
    position: absolute;
    top: 8px;
    right: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: var(--lightblue-color) var(--lightblue-color) var(--lightblue-color) var(--white-color);
}

.caht_Me .caht_arrow2 {
    position: absolute;
    top: 8px;
    right: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: var(--blue-color) var(--blue-color) var(--blue-color) var(--white-color);
}



/* 以下聊天列表 */
.chat_list_window {
    position: relative;
    margin-right: 2rem;
    min-width: 10rem;
    min-height: 20rem;
    background-color: rgb(218, 218, 218);
    border-radius: 0.5rem;
}

.chat_list {
    padding: 0 1rem;
    list-style-type: none;
    font-size: 1rem;
}


.chat_list li:hover {
    border: solid 1px var(--white-color);
}



/* 以下聊天機器人 */
.chat_robot_room_window {
    position: relative;
    margin-right: 2rem;
    width: 20rem;
    min-height: 20rem;
    background-color: var(--lightblue-color);
    border-radius: 0.5rem;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}