.community_main_banner {
  width: 100%;
  position: relative;
}

.community_main_banner_searchbar {
  position: absolute;
  left: 8%;
  top: 55%;
  z-index: 3;
}

.CM_banner_searchbar_tag {
  display: flex;
}

.CM_banner_searchbar_tag_item {
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--blue-color);
  font-size: 18px;
  color: var(--white-color);
  cursor: pointer;
}

.CM_banner_searchbar_searchIcon {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.CM_banner_searchbar_input_container {
  display: flex;
  height: 60px;
  width: 550px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.CM_banner_searchbar_input input {
  padding-left: 20px;
  height: 60px;
  width: 450px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
}

.CM_searchbar_category {
  margin: 20px 0 20px 20px;
}

.CM_searchbar_catlinee {
  width: 20px;
  height: 3px;
  background: var(--grey-color);
  margin-top: 3px;
  border-radius: 5px;
  transition: all 0.2s;
}

.CM_catlinee1 {
  width: 15px;
  transform: translateX(5px);
}

.CM_catlinee1::before {
  content: "";
  display: block;
  transform: translateX(-5px);
  width: 3px;
  height: 3px;
  background: var(--blue-color);
  transition: width 0.2s ease 0.1s, transform 0.2s;
}

.CM_catlinee3 {
  width: 13px;
}

.CM_catlinee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 0px;
  height: 3px;
  background: var(--blue-color);
  transition: width 0.2s ease 0.1s;
}

.CM_recommend_container {
  margin: 30px auto;
  width: 90em;
  height: 260px;
  display: flex;
}

.CM_recommend_container_disappear {
  display: none;
}

.CM_recommend_item {
  width: 23%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 10px;
  margin-right: 2%;
  border-radius: 5px;
}

.CM_recommend_item:hover {
  transform: translate(0px, -5px);
  transition: all 0.5s;
}

.CM_recommend_item_img_img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.CM_recommend_item_info {
  margin-left: 20px;
  margin-top: 8px;
}

.CM_recommend_item_info p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.CM_recommend_item_info i {
  margin-right: 10px;
  color: var(--blue-color);
}

.CM_recommend_item_info span {
  color: var(--grey-color);
}

.community_main_container {
  width: 100%;
  background-color: var(--lightgrey-color);
}

.community_main_post {
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

.community_main_timeline {
  max-width: 65em;
  margin: 0 auto;
}

.community_main_groupIcon {
  position: absolute;
  right: -35px;
  background-color: var(--white-color);
  width: 70px;
  height: 70px;
  border: 2px solid var(--blue-color);
  border-radius: 15%;
}

.CM_groupIcon_wrap {
  /* width: 55px;
  height: 55px;
  border: 3px solid var(--green-color);
  background-color: white;
  border-radius: 50%; 
  display: block;
  text-align: center;
  position: relative; */
  position: absolute;
  top: 3px;
  left: 3px;
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 15%;
}

.CM_groupIcon_img {
  /* width: 50px;
  height: 50px;
  margin-top: 7px;
  position: absolute;
  left: 50%;
  left: 2%;
  top: 13%;*/

  width: 100%;
  height: 100%;
  object-fit: cover;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.CM_timeline_heading {
  display: flex;
}

.CM_timeline_heading_img_circle_border {
  position: relative;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  border: 2px solid var(--lightblue-color);
  border-radius: 50%;
  margin: 1rem 0 0 1rem;
}

.CM_timeline_heading_img_container {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.CM_timeline_heading_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CM_timeline_heading_userinfo {
  margin: 1rem 0 0 1rem;
  width: 72%;
}

.CM_timeline_heading_userinfo p {
  margin: 5px 0;
  font-size: 20px;
}

.CM_timeline_heading_userinfo span {
  font-size: 14px;
}

.CM_timeline_heading_userinfo a {
  color: rgb(46, 46, 46);
}

.communityName_span {
  cursor: pointer;
  color: white;
  padding: 2px 8px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--blue-color);
}

.CM_timeline_body {
  position: relative;
}

.CM_timeline_body>p {
  padding: 0 20px;
  margin: 10px 0;
}

.CM_timeline_body>p+p {
  margin-top: 5px;
}

.CM_timeline_body_img_disapear {
  display: none;
}

.CM_timeline_body_img {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}

.CM_timeline_body_img img {
  width: 100%;
  height: 100%;
}

.CM_timeline_footer {
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-radius: 0 0 8px 8px;
}

.CM_timeline_footer i {
  margin-right: 5px;
}

.CM_timeline_footer span {
  margin-right: 5px;
}

.community_main_ul_timeline {
  list-style: none;
  padding: 50px 0 50px;
  position: relative;
}

.community_main_ul_timeline:after {
  clear: both;
  content: "";
  display: block;
}

.community_main_ul_timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 3px;
  background-color: #d5d5d5;
  left: 50%;
  margin-left: -1.5px;
}

.community_main_ul_timeline>li {
  margin-bottom: 30px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}

.community_main_ul_timeline>li:before,
.community_main_ul_timeline>li:after {
  content: " ";
  display: table;
}

.community_main_ul_timeline>li:after {
  clear: both;
}

.community_main_ul_timeline>li:before,
.community_main_ul_timeline>li:after {
  content: " ";
  display: table;
}

.community_main_timeline_panel {
  width: 90%;
  float: left;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  background-color: var(--white-color);
  position: relative;
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);

}

.community_main_timeline_panel::after {
  position: absolute;
  top: 27px;
  right: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-left: 11px solid var(--white-color);
  border-right: 0 solid #ddd;
  border-bottom: 11px solid transparent;
  content: " ";
}

.community_main_timeline_panel::before {
  position: absolute;
  top: 26px;
  right: -13px;
  display: inline-block;
  border-top: 12px solid transparent;
  border-left: 12px solid #ddd;
  border-right: 0 solid #ddd;
  border-bottom: 12px solid transparent;
  content: " ";
}

.timeline>li>.timeline-badge {
  /* color: #fff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 19px;
    right: -12px;
    /*background-color: #999999;*/
  z-index: 100;
  /*
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      */
}

.community_main_timeline_inverted>.community_main_timeline_panel {
  float: right;
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);

}

.community_main_timeline_inverted>.community_main_timeline_panel:before {
  border-left-width: 0;
  border-right-width: 12px;
  left: -13px;
  right: auto;
}

.community_main_timeline_inverted>.community_main_timeline_panel:after {
  border-left-width: 0;
  border-right-width: 11px;
  left: -11px;
  right: auto;
}

.timeline-badge>a {
  color: #b5b5b5 !important;
  font-size: 1.2em;
  line-height: 1.2em;
}

.timeline-badge a:hover {
  color: #000 !important;
}

.timeline-badge>a>i {
  background-color: #efefef;
}

.community_main_ul_timeline>.community_main_timeline_inverted {
  float: right;
  clear: right;
  margin-top: 70px;
  margin-bottom: 70px;
}

.community_main_ul_timeline>.community_main_timeline_inverted>.community_main_groupIcon {
  left: -35px;
  /* margin-top: 40px; */
}

.community_main_ul_timeline>li:nth-child(2) {
  margin-top: 150px;
}

@media (max-width: 767px) {
  ul.community_main_ul_timeline:before {
    left: 20px;
  }

  ul.community_main_ul_timeline>li {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }

  ul.community_main_ul_timeline>li>.community_main_timeline_panel {
    width: calc(100% - 46px);
    width: -moz-calc(100% - 46px);
    width: -webkit-calc(100% - 46px);
  }

  /* 不確定 */
  ul.community_main_ul_timeline>li>.timeline-badge {
    left: 8px;
    margin-left: 0;
    top: 18px;
  }

  ul.community_main_ul_timeline>li>.community_main_groupIcon {
    display: none;
  }

  ul.community_main_ul_timeline>li>.community_main_timeline_panel {
    float: right;
  }

  ul.community_main_ul_timeline>li>.community_main_timeline_panel:before {
    border-left-width: 0;
    border-right-width: 13px;
    left: -13px;
    right: auto;
  }

  ul.community_main_ul_timeline>li>.community_main_timeline_panel:after {
    border-left-width: 0;
    border-right-width: 11px;
    left: -11px;
    right: auto;
  }

  .community_main_ul_timeline>li.community_main_timeline_inverted {
    float: left;
    clear: left;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .community_main_ul_timeline>li.community_main_timeline_inverted>.timeline-badge {
    left: 8px;
  }
}

/* 大圖div */
/* .community_main_topImg { */
/* position: relative; */
/* width: 100vw;
  height: 65vh;
  min-width: 1200px;
  overflow: hidden; */
/* z-index: 0; */
/* } */

/* .community_main_topImg img { */
/* position: absolute; */
/* width: 100%; */
/* top: -20rem; */
/* left: 30rem; */
/* } */

.community_main_topImg {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  overflow: hidden;
  /* width: 100vw; */
  /* height: 80vh; */
  min-width: 1200px;
}

.community_main_topImg img {
  /* width: 100%;
  height: 600px; */
  width: 100%;
}

/* 留言區 */

.CM_reply_item_header {
  display: flex;
}

.CM_reply_item_header_img_container {
  width: 20%;
}

.CM_reply_item_header_img_circle_border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1.5px solid var(--lightblue-color);
  border-radius: 50%;
  margin: 15px;
}

.CM_reply_item_header_img {
  position: absolute;
  /* margin: 10px; */
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.CM_reply_item_header_img_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CM_reply_item_header_content {
  width: 100%;
}

.CM_reply_item_header_content_info {
  width: 95%;
  margin: 10px;
  /* float: right; */
}

.CM_reply_item_header_content_text {
  width: 80%;
  margin: 10px;
  /* float: right; */
}

/* 輸入資料區 */

.CM_reply_input_container {
  display: flex;
  background-color: var(--lightgrey-color);
}

.CM_reply_input_container input {
  border: none;
  width: 90%;
  margin: 15px 20px;
  outline: none;
}

.ReplySendClass i {
  margin: 20px 20px 0 0;
  font-size: 18px;
}

.Post_preIcon {
  position: absolute;
  cursor: pointer;
  top: 14rem;
  left: 0.8rem;
}

.Post_nextIcon {
  position: absolute;
  cursor: pointer;
  top: 14rem;
  right: 0.8rem;
}

/* 要讓編輯Icon消失ㄉClass */
.editIconDisappear {
  display: none;
}

.editIconforReply {
  font-size: 10px;
  margin-top: 7px;
  float: right;
  color: var(--lightgrey-color);
}

.editIconforArticle {
  font-size: 15px;
  margin-top: 25px;
  color: var(--grey-color);
}



/******************* RWD*******************/

@media(max-width: 800px) {

  .community_main_ul_timeline {
    padding-right: 1.5rem;
  }

}