.community_article_ul {
  width: 100%;
  float: left;
  margin-top: 1rem;
  border-radius: 10px;
}

.community_article_wrap {
  width: 100%;
  border: 1px solid var(--lightgrey-color);
  background-color: var(--white-color);
  margin-top: 1rem;
  border-radius: 10px;
}

.community_article_heading {
  display: flex;
  justify-content: space-between;
}

.community_article_heading_img_circle_border {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid var(--lightblue-color);
  border-radius: 50%;
  margin: 1rem 0 0 1rem;
}
.community_article_heading_img_container {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.community_article_heading_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.community_article_heading_userinfo {
  margin: 1rem 0 0 0;
  width: 78%;
}

.community_article_heading_userinfo p {
  margin: 5px 0;
  font-size: 20px;
}

.community_article_heading_userinfo span {
  font-size: 14px;
}

.editIconforArticle {
  margin-right: 30px;
}

.community_article_body > p {
  padding: 0 20px;
  margin: 10px 0;
}

.community_article_body > p + p {
  margin-top: 5px;
}

.community_article_body_img_disapear {
  display: none;
}

.community_article_body_img {
  width: 100%;

  max-height: 30rem;
  overflow: hidden;
}

.community_article_body_img img {
  width: 100%;
  height: 100%;
}

.community_article_footer {
  padding: 10px 15px;
  background-color: #f4f4f4;
}

.community_article_footer i {
  margin-right: 5px;
}

.community_article_footer span {
  margin-right: 5px;
}

/* 社團頁面的使用者頭像 */
.community_article_user_img_circle_border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid var(--green-color);
  border-radius: 50%;
  margin: 0.3rem 0 0 0.7rem;
}
.community_article_user_img_container {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.community_article_user_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 新增文章的東C */
.MessageBox {
  background-color: var(--white-color);
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}

.AddArticleInput {
  /* width: 360px;*/
  /* height: 50px; */
  font-size: 23px;
  margin-top: 15px;
  color: black;
  background-color: var(--lightgrey-color);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  color: var(--grey-color);
  /* padding-left: 10px; */
  margin-left: 20px;
  resize: none;
  overflow-y: auto;
}

.AddArticleLabel {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 209, 209);
  background-color: white;
  color: var(--blue-color);
  margin-right: 1rem;
}

.SearchBox {
  background-color: #e4e3e3;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
