/* *---------- 功能用 ---------- */
.create_active_flex {
  display: flex;
}

.create_active_ml {
  margin-left: 1rem;
}

.create_active_flex_end {
  display: flex;
  align-self: flex-end;
}

.create_active_full {
  width: 90%;
}


/* *---------- 開始 ---------- */
.create_active_title_div {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  color: var(--grey-color);
}

.create_active_title_div:hover {
  color: var(--blue-color);
  transition: all 0.5s;
}

.create_active_container h2 {
  margin-bottom: 2rem;
  color: #3a3a3a;
}

.create_active_title_circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: honeydew;
  margin: 0rem 0.5rem 0rem 1rem;
  line-height: 2rem;
}

.create_active_title {
  width: 20%;
  min-width: 150px;
  padding-top: 3rem;
  text-align: center;
}

.create_active_basicInfo_container {
  width: 80%;
  background-color: rgb(245, 245, 245);
}

.create_active_basicInfo_container p {
  color: var(--grey-color);
}

.create_active_basicInfo {
  max-width: 720px;
  padding: 3rem 0;
  margin: 0rem auto;
  background-color: rgb(245, 245, 245);
}

.create_active_basicInfo_div {
  margin: 2rem 0rem;
}

.create_active_basicInfo_div2 {

  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: white;
}


#ac_date_from,
#ac_date_to {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  margin: 0rem 1rem;
  padding: 0.5rem;
  max-width: 110px;
}

#ac_date_from:hover,
#ac_date_to:hover {
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
}

#ac_date_from:focus,
#ac_date_to:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

.create_active_basicInfo_div2 select {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.create_active_basicInfo_div2 select:hover {
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
}

.create_active_basicInfo_div2 select:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

.create_active_basicInfo_div p {
  margin-bottom: 0.5rem;
}


.create_active_basicInfo_div2 input {
  border: 0rem;
  border-bottom: 1px solid rgb(209, 209, 209);
  font-size: 18px;
}

.create_active_basicInfo_div2 input:hover {
  border-bottom: 1px solid var(--blue-color);
  transition: all 0.5s;
}

.create_active_basicInfo_div2 input:focus {
  border-bottom: 1px solid var(--blue-color);
  outline: none;
}




.actPeople {
  width: 30%;
}

.actPeople input {
  width: 50%;
}

.actDateDiv {
  height: 4rem;
  align-items: center;
}


.create_active_basicInfo_div3 {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.create_active_basicInfo_div2 textarea {
  width: 87%;
  padding: 0.5rem;
  font-size: 20px;
  border: 1px solid rgb(209, 209, 209);
  resize: none;
}

.create_active_basicInfo_div2 textarea:hover {
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
}

.create_active_basicInfo_div2 textarea:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

#create_active_btn_next,
#create_active_btn_done,
#create_active_btn_done_edit {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: white;
}

#create_active_btn_next:hover,
#create_active_btn_done:hover,
#create_active_btn_done_edit:hover {
  border: 1px solid var(--lightblue-color);
  background-color: var(--lightblue-color);
  transition: all 0.5s;
  cursor: pointer;
}

#create_active_btn_pre {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 209, 209);
  background-color: white;
  color: var(--blue-color);
}

#create_active_btn_pre:hover {
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
  cursor: pointer;
}

.ca_imgUpload_lbl {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 209, 209);
  background-color: white;
  color: var(--blue-color);
  margin-right: 1rem;
}

.ca_imgUpload_div {
  width: 70vh;
}

.ca_imgUpload_div img {
  width: 100%;
}

.ca_imgUpload_lbl:hover {
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
  cursor: pointer;
}

.create_active_container button:hover {
  cursor: pointer;
  border: 1px solid var(--blue-color);
  transition: all 0.5s;
}

.create_active_container button:focus {
  border: 1px solid var(--blue-color);
  outline: none;
}

.create_active_check {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  margin-right: 1rem;
  margin-left: 0.3rem;
  word-wrap: break-word;
}

#create_active_please {
  font-size: 10px;
  color: rgb(230, 84, 84);
  align-self: center;
  width: 15%;
}

.create_active_tag {
  background-color: var(--lightgrey-color);
  border: 1px solid var(--blue-color);
  margin: 1rem 0.8rem 0 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
}

.create_active_tag button {
  border: 0px;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  color: var(--blue-color);
  background-color: var(--lightgrey-color);
}

.create_active_tag button:hover {
  cursor: pointer;
}

#InitiatorEdit {
  display: none;
  margin-right: 1rem;
}

#createActMapId,
#actMapEdit {
  width: 20rem;
  height: 20rem;
}

.actShowLocation {
  width: 8rem;
  padding: 0.3rem;
  margin-top: 0.3rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: white;
  text-align: center;
}

.actShowLocation:hover {
  border: 1px solid var(--lightblue-color);
  background-color: var(--lightblue-color);
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.activity_detail_text_detail pre {
  font-size: medium;
  /* overflow: scroll; */
  /* overflow: auto;
  width: 700px;
  overflow-X: none;
  overflow-y: none;
  display: block; */
  /* word-wrap: break-word; */
  text-align: justify;
  white-space: pre-wrap;
}