/* ------------- nav ------------- */
.home_main {
    margin: 1rem 5rem;
    align-items: center;
}
.home_top_event{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.home_top_event img {
    width: 100%;
    height: 800px;
}

.home_top_event p {
    position: absolute;
    right: 4rem;
    top: 15rem;
    font-size: 72px;
    color: white;
    text-align: right;
}

.home_title_imgs {
    width: 40px;
    height: 40px;
    margin: 0rem 1rem;
}

.home_dollar_imgs {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.home_market_title {
    display: flex;
    border-bottom: 2px solid var(--lightblue-color);
    justify-content: space-between;
    margin: 1rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
}

.home_market_title div {
    display: flex;
    align-items: center;
}

.home_market_item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.home_market_item_img {
    width: 100%;
    /* height: 250px; */
    margin-bottom: 10px;
}
.home_market_item div {
    /* border: 1px solid var(--lightblue-color); */
    border-radius: 5px;
    width: 18%;
    padding: 1rem;
}
.home_market_item_sell {
    color: var(--lightgrey-color);
    background-color: var(--grey-color);
    /* border: 3px solid  var(--green-color); */
}
.home_market_item_buy{
    color: var(--grey-color);
    background-color: var(--lightgrey-color);
    /* border: 3px solid  var(--lightblue-color); */
}
.home_market_item div:hover{
    position: relative;
    top: 2px;
    left: 1px;
}
.home_market_item p{
    margin: 15px 0px;
}
.home_div_all{
    display: flex;
}
.home_div_event {
    margin-bottom: 1rem;
}
.home_div_event_left{
    width: 80%;
}
.home_div_event_2{
    display: flex;
}
.home_div_event_num {
    display: flex;
    background-color: rgb(223, 223, 223);
    width: 25px;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: var(--green-color);
    font-size: 20px;
}
.home_div_event_text{
    display: flex;
    margin-left: 1.5rem;
    width: 70%;
    border-bottom: 1px solid rgb(219, 219, 219);
    align-items: center;
}
.home_div_event_text a{
    color: rgb(119, 119, 119);
    text-decoration: none;
}
.home_div_event_text a:hover{
    position: relative;
    top: 2px;
    left: 1px;
    color: var(--green-color);
}
.home_div_event_SA{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 40px;
}
.home_div_event_SA a{
    text-decoration: none;
    color: var(--green-color);
}
.home_div_video {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.home_div_video_text {
    width: 30%;
    padding-left: 1rem;
}
.home_div_video_text span{
    font-size: 20px;
    font-weight: bolder;
    margin: 4px;
}
.home_div_news{
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
    width: 30%;
    height: 100%;
    margin-left: 2rem;
    padding: 1rem;
    text-align: center;
}
.home_div_news_img{
    width: 80%;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.home_div_news a{
    text-decoration: none;
    color: var(--green-color);
}

/* ------------- footer ------------- */
.home_footer {
    display: flex;
    height: 200px;
    background-color: rgba(241, 241, 241, 0.87);
    justify-content: space-around;
    align-items: center;
}
.home_footer_box{
    width: 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.home_footer a {
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 16px;
}
.home_footer a:hover{
    position: relative;
    top: 2px;
    left: 1px;
    color: var(--lightblue-color);
}

.home_footer_icon {
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}
/* ------------- footer ------------- */

.home_icon {
    width: 30px;
    height: 30px;
}

.home_intro_dollar {
    display: flex;
    width: 100%;
    height: 100%px;
}

.home_intro_dollar_img {
    width: 100%;
}

.home_intro_dollar_text {
    border-radius: 20px;
    background-color: rgba(163, 212, 201, 0.527);
    padding: 2rem;
    margin-left: 1rem;
    width: 90%;
}
