@import "./var.css";
/* *顏色變數 */
/* page */
@import "./navbar.css";
@import "./notFound.css";
@import "./loading.css";
@import "./home.css";
@import "./activity.css";
@import "./activity_detail.css";
@import "./news.css";
@import "./news_detial.css";
@import "./aboutUs.css";
@import "./personalPage.css";
@import "./personal_maneger.css";
@import "./footer.css";
@import "./communmity.css";
@import "./communtiyDetail.css";
@import "./create_activities.css";
@import "./create_community.css";
@import "./community_main.css";
@import "./community_article.css";
@import "./personalManager.css";

/*  其他 */
@import "./chat.css";
@import "./map.css";
@import "./login.css";

* {
  margin: 0px;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none !important;
}

/*隱藏滾輪*/
body::-webkit-scrollbar {
  display: none;
}

.page::-webkit-scrollbar {
  display: none;
}

.page_container {
  margin-top: 5rem;
}


/*隱藏滾輪*/





/* *附加class 區------ */
.widthAndHeight2Zero {
  width: 0rem;
  height: 0rem;
  font-size: 0rem;
}

.transYsWidthTo0 {
  transform-origin: top left;
  transform: translateY(-5rem) scaleY(0);
}

.transYsWidthTo0Bottom {
  transform-origin: bottom left;
  transform: scaleY(0);
}

.rotate45 {
  transform: rotate(45deg);
}

.upside_down {
  transform: rotate(-180deg);
}

.hide {
  display: none !important;
}

.focus {
  background-color: rgba(0, 0, 0, 0.1);
  /* 遮罩 */
}

.nowrap {
  flex-wrap: nowrap;
}