@import "./var.css";  /* *顏色變數 */
@import "./navbar.css";
@import "./signInPage.css";
@import "./signUpPage.css";
@import "./notFound.css";
@import "./home.css";
@import "./activity.css";


* {
    margin: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}

.hide{
    display:   none;
}


.focus{
    background-color: rgba(0, 0, 0, 0.1);  /* 遮罩 */
}


.container{
    margin-top: 4.8rem;
}