.personalManager_banner {
  position: relative;
  width: 100vw;
  height: 300px;
  background-color: var(--blue-color);
}

.personalManager_left {
  position: absolute;
  top: 150px;
  left: 10vw;
  border-radius: 1rem;
  width: 300px;
}

.personalManager_left_Info {
  position: relative;
  text-align: center;
  line-height: 3rem;
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);
  background-color: white;
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.personalManager_SeaTurtleCoin {
  width: 2rem;
  background-color: white;
  line-height: 3rem;
  margin: 0 0.5rem 0 0;
}

.personalManager_left_Info h3,
h4 {
  background-color: white;
  line-height: 3rem;
  font-weight: bold;
}

.personalManager_left_Info p {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.personalManager_left_Info_img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--lightgrey-color);
}

.personalManager_left_Info button {
  position: absolute;
  top: 16rem;
  left: 200px;
  height: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: white;
  padding: 0 0.3rem;
  line-height: 0;
}

.personalManager_left_Info button:hover {
  cursor: pointer;
}

.personalManager_right {
  display: grid;
  justify-content: flex-end;
}

.personalManager_right_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 50vw;
  height: 15vh;
  margin-top: 50px;
  margin-right: 15vw;
  /* padding: 0 1.5rem; */
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);
}

.personalManager_right_title_btn {
  /* width: 18vw; */
  border: 1px solid var(--blue-color);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: var(--blue-color);
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.personalManager_right_title_btn i {
  background-color: var(--blue-color);
  margin-right: 0.3rem;
}

.personalManager_right_title_btn p {
  background-color: var(--blue-color);
  margin: 0;
}

.personalManager_right_title_btn:hover {
  cursor: pointer;
}

.personalManager_right_content {
  margin-top: 5vh;
}

.personalManager_right_content h2 {
  width: max-content;
  margin-bottom: 3vh;
  border-bottom: 3px solid var(--blue-color);
  padding: 0 0 0.5rem 0;
  font-weight: bold;
}

.personalManager_right_content_infoBasic {
  position: relative;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 3rem;
  padding: 3rem 0;
  background-color: white;
  border-radius: 1rem;
  width: 50vw;
  /* height: 25vh; */
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);
}

.personalManager_right_content_infoBasic input {
  width: 20vw;
  border: 0;
  border-bottom: 1px solid var(--blue-color);
  background-color: white;
  /* border-radius: 0.5rem 0.5rem 0 0; */
  line-height: 2rem;
  padding: 0 1rem;
  font-size: medium;
}

.personalManager_right_content_infoBasic textarea {
  margin-bottom: 3rem;
  width: 70%;
  max-width: 50vw;
  line-height: 2rem;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right:0.5rem;
}

.personalManager_right_content_infoBasic button {
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  width: 5rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: white;
  padding: 0.5rem;
}


.personalManager_right_content_infoBasic p span{
    display: inline-block;
    flex-shrink: 0;
    width: 6rem;
}


.personalManager_right_content_infoBasic button:hover {
  cursor: pointer;
}

.personalManager_right_content_infoBasic p {
  background-color: white;
  line-height: 5rem;
  padding: 0 5rem;
  font-weight: bolder;
  font-size: larger;
  margin: 0;
}

.personalManager_right_content_info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1rem;
  width: 50vw;
  /* height: 25vh; */
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);
  color: rgb(36, 36, 36);
}

.personalManager_right_content_info:hover {
  color: rgb(36, 36, 36);
  /* transition: all 0.3s; */
}

.personalManager_right_content_info_img {
  border-radius: 1rem;
  margin: 0 0 0 1rem;
  width: 30%;
  height: 30%;
  overflow: hidden;
}

.personalManager_right_content_infoText {
  background-color: white;
  margin-left: 3rem;
  line-height: 3rem;
  width: 60%;
}

.personalManager_right_content_info h3 {
  background-color: white;
  border-bottom: 2px solid var(--blue-color);
  width: auto;
  max-width: 25rem;
  white-space: pre-wrap;
  padding: 0 0 0.6rem 0;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  /* align-items: flex-start; */
}

.personalManager_right_content_info p {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bolder;
}

.personalManager_right_content_infoText i {
  margin-right: 0.5rem;
  color: var(--blue-color);
  background-color: white;
}

.personalManager_right_content_infoText img {
  /* margin-right: 0.5rem; */
}

.personal-manager-txt {
  width: 50vw;
  height: 13vh;
  /* border: 1px solid red; */
  border-radius: 1rem;
  box-shadow: 1px 1px 25px rgba(167, 167, 167, 0.384);
  background-color: white;
  margin-bottom: 3rem;
  text-align: center;
  line-height: 13vh;
  font-size: x-large;
  font-weight: bolder;
}

@media screen and (max-width: 1550px) {
  .personalManager_left {
    left: 5vw;
  }

  .personalManager_right_title {
    margin-right: 10vw;
    width: 60vw;
  }

  .personalManager_right_content_infoBasic,
  .personal-manager-txt,
  .personalManager_right_content_info {
    width: 60vw;
  }
}

@media screen and (max-width: 1330px) {
  .personalManager_left {
    left: 2vw;
  }

  .personalManager_right_title {
    margin-right: 5vw;
    width: 65vw;
  }

  .personalManager_right_content_infoBasic,
  .personal-manager-txt,
  .personalManager_right_content_info {
    width: 65vw;
  }

  .personalManager_right_content_infoText {
    margin-right: 1rem;
  }

  .personalManager_right_title_btn {
    padding: 1rem;
  }
  
  .personalManager_right_content_infoBasic input{
      width: 70%;
  }
}

@media screen and (max-width: 1100px) {

    .personalManager_right_title{
        margin-top: 130px;
    }


  .personalManager_left {
    left: 10vw;
    width: auto;
  }

  .personalManager_left_Info {
    display: flex;
    height: 300px;
    padding-bottom: 0;
    width: 80vw;
  }

  .personalManager_left_Info_img {
    width: 300px;
    max-width: 50vw;
    border-radius: 1rem 0 0 1rem;
    flex-shrink: 0;
  }

  .personalManager_left_Info_txt{
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .personalManager_left_Info h3, h4{
    font-size: 1.5rem;
    line-height:1.5rem;
    margin-bottom: 0.7rem;
    border-radius: 1rem;
  }

  .personalManager_left_Info h3{
      margin-top: 1rem;
  }

  .personalManager_SeaTurtleCoin{
      width: 1.5rem;
  }

  .personalManager_left_Info p{
      line-height: 2.5rem;
      font-size: 1rem;
  }


  .personalManager_right{
      display: block;
      margin-left: 10vw;
  }

  
  .personalManager_right_title {
    margin-right: 10vw;
    width: 80vw;
  }

  .personalManager_right_content_infoBasic,
  .personal-manager-txt,
  .personalManager_right_content_info {
    width: 80vw;
  }

  .personalManager_right_content_infoBasic p{
    padding-right: 0;
    padding-left: 5vw;
}
  
}


@media screen and (max-width: 1100px) {
    .personalManager_right_title_btn  i{
        display: none;

    }

    .personalManager_right_title{
        height: 8rem;
    }

}
